<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>叫啥好</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        body,html,*{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="app">
        
        <div class="form">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" size='mini'>
                <el-row :gutter='20'>
                    <el-col :span="8">
                        <el-form-item label="名称" prop="name">
                            <el-input v-model="ruleForm.name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="年龄" prop="age">
                            <el-input v-model="ruleForm.age"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="性别" prop="sex">
                            <el-input v-model="ruleForm.sex"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="班级" prop="class">
                            <el-input v-model="ruleForm.class"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="年级" prop="grade">
                            <el-input v-model="ruleForm.grade"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="入学年份" prop="enrollment_year">
                            <el-input v-model="ruleForm.enrollment_year"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span='8'>
                        <el-form-item>
                            <el-button type="primary" @click='addNewClick' size='mini'>确定</el-button>
                            <el-button type="primary" @click='addNewClick' size='mini'>保存为草稿</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>

        <el-table :data="tableData" style="width: 100%" size='mini'>
            <el-table-column label="操作" width="180">
                <template slot-scope="scope">
                    <el-button type="primary" size="mini" @click="openEdit(scope.row)">编辑</el-button>
                    <el-button type="danger" size="mini" @click="removeCellClick(scope.row)">删除</el-button>
                </template>
            </el-table-column>
            <el-table-column prop="name" label="名称" >
            </el-table-column>
            <el-table-column prop="age" label="年龄">
            </el-table-column>
            <el-table-column prop="sex" label="性别">
            </el-table-column>
            <el-table-column prop="class" label="班级">
            </el-table-column>
            <el-table-column prop="grade" label="年级">
            </el-table-column>
            <el-table-column prop="enrollment_year" label="入学年份">
            </el-table-column>
        </el-table>
        
    </div>

    <script>
        const el = new Vue({
            el:'#app',
            data:()=>{
                return {
                    tableData: [],
                    ruleForm: {
                        name: '',
                        age: '',
                        sex: '',
                        class: '',
                        grade: '',
                        enrollment_year: '', 
                    },
                    rules: {
                        name: [
                            { required: true, message: '请输入名称', trigger: 'blur' },
                        ],
                        sex: [
                            { required: true, message: '请选择性别', trigger: 'blur' },
                        ],
                        age: [
                            { required: true, message: '请输入年龄', trigger: 'blur' },
                        ],
                        class: [
                            { required: true, message: '请选择班级', trigger: 'blur' },
                        ],
                        grade: [
                            { required: true, message: '请选择年级', trigger: 'blur' },
                        ],
                        enrollment_year: [
                            { required: true, message: '请选择入学年份', trigger: 'blur' },
                        ]
                    }
                }
            },
            mounted(){
                console.log('是否触发到了，嘿嘿');
                this.init();
            },
            methods: {
                // 初始化
                init: function(){
                    this.getTableData();
                },

                // 列表请求
                getTableData: function(){
                    var _this = this;
                    axios.get(
                        'http://localhost:8888/student/inquire',
                        {
                            params: {}
                        }
                    ).then((res) => {
                        console.log('调用成功过', res)
                        _this.tableData = res.data.list;
                    }).catch((err) => {
                        console.log('调用失败', err);
                    })
                },

                // 添加
                addNewClick: function(){
                    var _this = this;
                    if(this.ruleForm.id){
                        this.editCellClick();
                        return false;
                    }
                    
                    axios.post(
                        'http://localhost:8888/student/add',
                        {
                            data: this.ruleForm
                        }
                    ).then((res) => {
                        _this.resetForm();
                        this.init();
                    }).catch((err) => {
                        console.log('调用失败', err);
                    })
                },

                // 删除
                removeCellClick: function(row){
                    axios.post(
                        'http://localhost:8888/student/remove',
                        {
                            data: {
                                id: row.id,
                            }
                        }
                    ).then((res) => {
                        console.log('调用成功过', res)
                        // _this.tableData = res.data.list;
                        this.init();
                    }).catch((err) => {
                        console.log('调用失败', err);
                    })
                },
                
                // 编辑
                editCellClick: function(row){
                    var _this = this;
                    axios.post(
                        'http://localhost:8888/student/edit',
                        {
                            data: this.ruleForm
                        }
                    ).then((res) => {
                        if(res.data.code == 200){
                            _this.resetForm();
                            _this.init();
                            _this.$message({
                                message: res.data.message,
                                type: 'success'
                            });
                        }
                       
                    }).catch((err) => {
                        console.log('调用失败', err);
                    })
                },

                // 重置表单
                resetForm() {
                    this.$refs['ruleForm'].resetFields();
                    this.ruleForm = {
                        name: '',
                        age: '',
                        sex: '',
                        class: '',
                        grade: '',
                        enrollment_year: '', 
                    };
                },
                openEdit: function(row){
                    for(var k in this.ruleForm){
                        this.ruleForm[k] = row[k];
                    }
                    this.ruleForm.id = row.id;
                }
            }
        })
    </script>
</body>
</html>